:root {
    /* Define CSS variables */
    --main-font: "Poppins", sans-serif;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 30px;
    --font-weight-bold: 700;
    --border-radius: 16px;
    --border-radius-large: 46px;
    --box-shadow: 0px 8px 21px 0px #00000029;

    --body-bg-color: #fff;
    --text-black: #000;
    --text-gray-dark: #1c1c1c;
    --text-gray-light: #525252;
    --input-bg-color: #f0edffcc;
    --placeholder-color: #a29dbcad;
    --bg-gradient: linear-gradient(to right, #9181f4, #5038ed);
    --border-color: #f0edff;
    --right-side-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.login-section {
    width: 100%;
    height: 100svh;
    font-family: var(--main-font);
    overflow: hidden;
    color: var(--text-black);
    display: flex;
}

/* Left side container styles */
.login-section .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.login-section .left-side .content-box {
    width: 364px;
    height: 469px;
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-section .left-side .content-box b {
    color: var(--text-gray-dark);
}

.login-section .left-side .content-box .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login-section .left-side .content-box .header .login-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.login-section .left-side .content-box .header .descrption {
    color: var(--text-gray-light);
    font-size: var(--font-size-medium);
}

/* Login form styles */
.login-section .left-side .content-box .my-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-section .left-side .content-box .my-form .input-group {
    background-color: #f0edffcc;
    display: flex;
    gap: 1rem;
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    width: 100%;
    align-items: center;
}

.login-section .left-side .content-box .my-form .input-group .Symbole {
    width: 24px;
    height: 24px;
}

.login-section .left-side .content-box .my-form .input-group .Symbole img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.login-section .left-side .content-box .my-form .input-group input {
    color: var(--text-gray-dark);
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: var(--font-size-medium);
    height: 100%;
}

.login-section .left-side .content-box .my-form .input-group input::-webkit-input-placeholder {
    color: #a29dbcad;
}

.login-section .left-side .content-box .my-form .input-group input::-moz-placeholder {
    color: #a29dbcad;
}

.login-section .left-side .content-box .my-form .input-group input:-ms-input-placeholder {
    color: #a29dbcad;
}

.login-section .left-side .content-box .my-form .input-group input::-ms-input-placeholder {
    color: #a29dbcad;
}

.login-section .left-side .content-box .my-form .input-group input::placeholder {
    color: #a29dbcad;
}

.login-section .left-side .content-box .my-form .login-btn {
    color: var(--body-bg-color);
    background-image: var(--bg-gradient);
    padding: 1.2rem 2rem;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-small);
    cursor: pointer;
    margin-top: 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: var(--);
    box-shadow: var(--box-shadow);
    font-weight: var(--font-weight-bold);
}

/* Social media login styles */
.login-section .left-side .content-box .social-media-login {
    gap: 1rem;
    border: none;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0 0;
}

.login-section .left-side .content-box .social-media-login .legend-title {
    font-size: var(--font-size-medium);
    color: var(--text-gray-light);
}

.login-section .left-side .content-box .social-media-login .social-media-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.login-section .left-side .content-box .social-media-login .social-media-box .social-media-logo {
    width: 30px;
    height: 30px;
}

.login-section .left-side .content-box .social-media-login .social-media-box .social-media-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.login-section .left-side .content-box .social-media-login .social-media-box .social-media-title {
    font-size: var(--font-size-small);
    color: var(--text-gray-dark);
}

/* Right side container styles */
.login-section .right-side {
    background-image: url(assets/images/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    color: var(--right-side-text-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login-section .right-side .content-box {
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius-large);
    border: solid 1px #ffffff85;
    position: relative;
    padding: 2rem;
    background-color: #ffffff36;
    width: 412px;
    height: 524px;
}

.login-section .right-side .content-box .descrption {
    font-size: calc(var(--font-size-large) + 2px);
    font-weight: var(--);
    width: 60%;
}

.login-section .right-side .content-box .person-img {
    width: 75%;
    position: absolute;
    right: -30px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.login-section .right-side .content-box .person-img img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.login-section .right-side .content-box .elec-logo {
    position: absolute;
    bottom: 90px;
    left: calc(calc(42px - 1rem) * -1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg-color);
    padding: 1rem;
    border-radius: 50%;
}

.login-section .right-side .content-box .elec-logo img {
    width: 42px;
    height: 42px;
    -o-object-fit: contain;
    object-fit: contain;
}